<p id="notice"><%= notice %></p>

<h1><%= t('posts.title') %></h1>

<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post_published_sign(post) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul>
  <% (1..@pages_count).each do |page| %>
    <li class=<%="#{@current_page == page ? 'active' : ''}"%>>
      <%= link_to "Page #{page}", posts_path(page: page)%>
    </li>
  <%end%>
</ul>

<%= link_to 'New Post', new_post_path %>
